.weather-box {
    background: linear-gradient(to bottom, #3498db, #87ceeb, #ffffff);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 10px;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.weather-box .box-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather-box .weather-icon{
    display: flex;
    align-items: center;
}

.weather-box .temp{
    font-size: 30px;
    color: #ffffff;
    font-weight: 700;
}