.logo-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logo {
    margin-bottom: 20px;
}

.logo img {
    width: 100px;
    /* Adjust the logo width as needed */
    height: auto;
}

.content {
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.text-div {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}