.forecast-container{
    display: flex;
    justify-content: center;
}

.box-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather-icon{
    display: flex;
    align-items: center;
}

.temp{
    font-size: 30px;
    color: #ffffff;
    font-weight: 700;
}